$main-background-color: whitesmoke;
$main-border-radius: 10px;
$main-app-green: #00530b;
$main-border-width: 0.5px;
$main-font-family: 'Roboto', sans-serif;
$main-heading-font-weight: bolder;
$main-sub-title-size: 25px;
$main-border-color: rgba($color: #000000, $alpha: 0.3);
$main-input-text-color: black;