@import '../mixins.scss';
@import '../variables.scss';

.mainAppWrapper {
    @include flexCentered(row);

    margin: 0 auto;
    width: 60%;
    height: 600px;
}

.mainAppStatsWrapper{
    width: 100%;
    height: 100%;
    padding-right: 1rem;
}

.filterHeader {
    height: 10%;
    
    p {
        margin-left: 1rem;
        @include getPoweredFormat;
    }
}

.filterBody {
    height: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-right: 4rem;
    margin-left: 1rem;
    span {
        @include formatPills;
    }
}

.filterFooter{

    label {
        font-size: small;
        margin-left: 1rem;
    }

    input {
        width: 93%;
        margin: 1rem;
        border: none;
        border-bottom: 0.5px solid rgba($color: #000000, $alpha: 0.5);
        border-radius: 0px;
        
    }
}

.alertWrapper {
    margin-left: 1rem;
    margin-right: 1.4rem;
}

.userInfo {
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 5%;
    color: rgba($color: #000000, $alpha: 0.4);
}